@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500');

html {
}

body {
  font-family: 'Rubik', sans-serif;
  background: #16161d;
  font-size: 2.5rem;
  font-weight: 300;
  font-style: normal;
  letter-spacing: -.003em;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  color: rgba(255, 255, 255, 1);
  padding-top: 10em;
}

.title-wrap {
  white-space: pre;
}

a:link {
  color: rgba(255, 255, 255, .7921);
  text-decoration: none;
}

a:visited {
  color: rgba(255, 255, 255, .7921);
  text-decoration: none;
}

a:hover {
  color: rgba(255, 255, 255, .7921);
  text-decoration: none;
}

a:active {
  color: rgba(255, 255, 255, .7921);
  text-decoration: none;
}

.content {
  max-width: 800px;
  margin: 80px auto;
  padding: 0 30px;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.125rem;
  line-height: 1.58;
  color: rgba(255, 255, 255, .7921);
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on, "salt" on;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga" on, "salt" on;
  font-variant-numeric: proportional-nums;
}

.highlight {
  animation: flicker 5s linear infinite;
  text-shadow: 0 0 1px #fff, 0 0 1px #fff;
}

@keyframes flicker {
  0%,
  19.999%,
  22%,
  62.999%,
  64%,
  64.999%,
  70%,
  100% {
    opacity: .99;
    text-shadow: -1px -1px 0 $outline, 1px -1px 0 $outline, -1px 1px 0 $outline, 1px 1px 0 $outline, 0 -2px 8px, 0 0 2px, 0 0 5px #ff7e00, 0 0 15px #ff4444, 0 0 2px #ff7e00, 0 2px 3px #000;
  }

  20%,
  21.999%,
  63%,
  63.999%,
  65%,
  69.999% {
    opacity: 0.3;
    text-shadow: none;
  }

}

p,
ul,
ol,
table,
pre,
dl {
  margin: 0 0 20px;
  list-style: none
}

.typewriter p {
  text-shadow: 0 0 1px #fff, 0 0 1px #fff;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #fff; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: typing 2s steps(30, end), blink-caret .5s step-end 8;
  border-right: .15em solid transparent;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }

}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: #fff
  }

}

.glitch-wrapper {
  height: 100%;
  justify-content: center;
  align-items: center;
}

.glitch {
  position: relative;
  display: inline-block;
}

.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #16161d;
}

.glitch::before {
  left: 2px;
  text-shadow: -2px 0 #49FC00;
  clip: rect(24px, 550px, 90px, 0);
  animation: glitch-anim-2 3s infinite linear alternate-reverse;
}

.glitch::after {
  left: -2px;
  text-shadow: -2px 0 #b300fc;
  clip: rect(85px, 550px, 140px, 0);
  animation: glitch-anim 2.5s infinite linear alternate-reverse;
}

@-webkit-keyframes glitch-anim {
  0% {
    clip: rect(113px, 9999px, 147px, 0);
  }

  4.166666666666666% {
    clip: rect(14px, 9999px, 43px, 0);
  }

  8.333333333333332% {
    clip: rect(33px, 9999px, 8px, 0);
  }

  12.5% {
    clip: rect(82px, 9999px, 129px, 0);
  }

  16.666666666666664% {
    clip: rect(100px, 9999px, 46px, 0);
  }

  20.833333333333336% {
    clip: rect(30px, 9999px, 46px, 0);
  }

  25% {
    clip: rect(79px, 9999px, 43px, 0);
  }

  29.166666666666668% {
    clip: rect(19px, 9999px, 45px, 0);
  }

  33.33333333333333% {
    clip: rect(17px, 9999px, 17px, 0);
  }

  37.5% {
    clip: rect(18px, 9999px, 47px, 0);
  }

  41.66666666666667% {
    clip: rect(25px, 9999px, 10px, 0);
  }

  45.83333333333333% {
    clip: rect(85px, 9999px, 138px, 0);
  }

  50% {
    clip: rect(73px, 9999px, 19px, 0);
  }

  54.166666666666664% {
    clip: rect(85px, 9999px, 26px, 0);
  }

  58.333333333333336% {
    clip: rect(19px, 9999px, 54px, 0);
  }

  62.5% {
    clip: rect(101px, 9999px, 140px, 0);
  }

  66.66666666666666% {
    clip: rect(81px, 9999px, 41px, 0);
  }

  70.83333333333334% {
    clip: rect(101px, 9999px, 114px, 0);
  }

  75% {
    clip: rect(34px, 9999px, 132px, 0);
  }

  79.16666666666666% {
    clip: rect(73px, 9999px, 46px, 0);
  }

  83.33333333333334% {
    clip: rect(89px, 9999px, 138px, 0);
  }

  87.5% {
    clip: rect(41px, 9999px, 25px, 0);
  }

  91.66666666666666% {
    clip: rect(28px, 9999px, 49px, 0);
  }

  95.83333333333334% {
    clip: rect(117px, 9999px, 80px, 0);
  }

  100% {
    clip: rect(128px, 9999px, 92px, 0);
  }

}

@keyframes glitch-anim {
  0% {
    clip: rect(113px, 9999px, 147px, 0);
  }

  4.166666666666666% {
    clip: rect(14px, 9999px, 43px, 0);
  }

  8.333333333333332% {
    clip: rect(33px, 9999px, 8px, 0);
  }

  12.5% {
    clip: rect(82px, 9999px, 129px, 0);
  }

  16.666666666666664% {
    clip: rect(100px, 9999px, 46px, 0);
  }

  20.833333333333336% {
    clip: rect(30px, 9999px, 46px, 0);
  }

  25% {
    clip: rect(79px, 9999px, 43px, 0);
  }

  29.166666666666668% {
    clip: rect(19px, 9999px, 45px, 0);
  }

  33.33333333333333% {
    clip: rect(17px, 9999px, 17px, 0);
  }

  37.5% {
    clip: rect(18px, 9999px, 47px, 0);
  }

  41.66666666666667% {
    clip: rect(25px, 9999px, 10px, 0);
  }

  45.83333333333333% {
    clip: rect(85px, 9999px, 138px, 0);
  }

  50% {
    clip: rect(73px, 9999px, 19px, 0);
  }

  54.166666666666664% {
    clip: rect(85px, 9999px, 26px, 0);
  }

  58.333333333333336% {
    clip: rect(19px, 9999px, 54px, 0);
  }

  62.5% {
    clip: rect(101px, 9999px, 140px, 0);
  }

  66.66666666666666% {
    clip: rect(81px, 9999px, 41px, 0);
  }

  70.83333333333334% {
    clip: rect(101px, 9999px, 114px, 0);
  }

  75% {
    clip: rect(34px, 9999px, 132px, 0);
  }

  79.16666666666666% {
    clip: rect(73px, 9999px, 46px, 0);
  }

  83.33333333333334% {
    clip: rect(89px, 9999px, 138px, 0);
  }

  87.5% {
    clip: rect(41px, 9999px, 25px, 0);
  }

  91.66666666666666% {
    clip: rect(28px, 9999px, 49px, 0);
  }

  95.83333333333334% {
    clip: rect(117px, 9999px, 80px, 0);
  }

  100% {
    clip: rect(128px, 9999px, 92px, 0);
  }

}

@-webkit-keyframes glitch-anim-2 {
  6.666666666666667% {
    clip: rect(40px, 9999px, 88px, 0);
  }

  10% {
    clip: rect(145px, 9999px, 136px, 0);
  }

  13.333333333333334% {
    clip: rect(118px, 9999px, 25px, 0);
  }

  16.666666666666664% {
    clip: rect(66px, 9999px, 77px, 0);
  }

  20% {
    clip: rect(121px, 9999px, 127px, 0);
  }

  23.333333333333332% {
    clip: rect(38px, 9999px, 74px, 0);
  }

  26.666666666666668% {
    clip: rect(104px, 9999px, 101px, 0);
  }

  30% {
    clip: rect(77px, 9999px, 86px, 0);
  }

  33.33333333333333% {
    clip: rect(113px, 9999px, 64px, 0);
  }

  36.666666666666664% {
    clip: rect(87px, 9999px, 73px, 0);
  }

  40% {
    clip: rect(73px, 9999px, 52px, 0);
  }

  43.333333333333336% {
    clip: rect(88px, 9999px, 96px, 0);
  }

  46.666666666666664% {
    clip: rect(3px, 9999px, 144px, 0);
  }

  50% {
    clip: rect(101px, 9999px, 43px, 0);
  }

  53.333333333333336% {
    clip: rect(37px, 9999px, 30px, 0);
  }

  56.666666666666664% {
    clip: rect(138px, 9999px, 128px, 0);
  }

  60% {
    clip: rect(143px, 9999px, 41px, 0);
  }

  63.33333333333333% {
    clip: rect(130px, 9999px, 97px, 0);
  }

  66.66666666666666% {
    clip: rect(116px, 9999px, 38px, 0);
  }

  70% {
    clip: rect(65px, 9999px, 47px, 0);
  }

  73.33333333333333% {
    clip: rect(146px, 9999px, 17px, 0);
  }

  76.66666666666667% {
    clip: rect(72px, 9999px, 72px, 0);
  }

  80% {
    clip: rect(99px, 9999px, 44px, 0);
  }

  83.33333333333334% {
    clip: rect(9px, 9999px, 116px, 0);
  }

  86.66666666666667% {
    clip: rect(26px, 9999px, 146px, 0);
  }

  90% {
    clip: rect(66px, 9999px, 40px, 0);
  }

  93.33333333333333% {
    clip: rect(13px, 9999px, 137px, 0);
  }

  96.66666666666667% {
    clip: rect(35px, 9999px, 129px, 0);
  }

  100% {
    clip: rect(127px, 9999px, 125px, 0);
  }

}

@keyframes glitch-anim-2 {
  6.666666666666667% {
    clip: rect(40px, 9999px, 88px, 0);
  }

  10% {
    clip: rect(145px, 9999px, 136px, 0);
  }

  13.333333333333334% {
    clip: rect(118px, 9999px, 25px, 0);
  }

  16.666666666666664% {
    clip: rect(66px, 9999px, 77px, 0);
  }

  20% {
    clip: rect(121px, 9999px, 127px, 0);
  }

  23.333333333333332% {
    clip: rect(38px, 9999px, 74px, 0);
  }

  26.666666666666668% {
    clip: rect(104px, 9999px, 101px, 0);
  }

  30% {
    clip: rect(77px, 9999px, 86px, 0);
  }

  33.33333333333333% {
    clip: rect(113px, 9999px, 64px, 0);
  }

  36.666666666666664% {
    clip: rect(87px, 9999px, 73px, 0);
  }

  40% {
    clip: rect(73px, 9999px, 52px, 0);
  }

  43.333333333333336% {
    clip: rect(88px, 9999px, 96px, 0);
  }

  46.666666666666664% {
    clip: rect(3px, 9999px, 144px, 0);
  }

  50% {
    clip: rect(101px, 9999px, 43px, 0);
  }

  53.333333333333336% {
    clip: rect(37px, 9999px, 30px, 0);
  }

  56.666666666666664% {
    clip: rect(138px, 9999px, 128px, 0);
  }

  60% {
    clip: rect(143px, 9999px, 41px, 0);
  }

  63.33333333333333% {
    clip: rect(130px, 9999px, 97px, 0);
  }

  66.66666666666666% {
    clip: rect(116px, 9999px, 38px, 0);
  }

  70% {
    clip: rect(65px, 9999px, 47px, 0);
  }

  73.33333333333333% {
    clip: rect(146px, 9999px, 17px, 0);
  }

  76.66666666666667% {
    clip: rect(72px, 9999px, 72px, 0);
  }

  80% {
    clip: rect(99px, 9999px, 44px, 0);
  }

  83.33333333333334% {
    clip: rect(9px, 9999px, 116px, 0);
  }

  86.66666666666667% {
    clip: rect(26px, 9999px, 146px, 0);
  }

  90% {
    clip: rect(66px, 9999px, 40px, 0);
  }

  93.33333333333333% {
    clip: rect(13px, 9999px, 137px, 0);
  }

  96.66666666666667% {
    clip: rect(35px, 9999px, 129px, 0);
  }

  100% {
    clip: rect(127px, 9999px, 125px, 0);
  }

}
