@import url('https://fonts.googleapis.com/css?family=Barlow:100|Roboto+Mono:300');
html {
}
body {
  background: rgba(0,0,0,.94);
  font-size: 2.5rem;
  font-weight: 300;
  font-style: normal;
  line-height: 1.5rem;
  letter-spacing: -.003em;
  color: rgba(255,255,255,.7921);
  text-shadow: 0 0 2px #fff, 0 0 3px #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on,"salt" on;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga" on,"salt" on;
  font-variant-numeric: proportional-nums;
}

.hero {
  font-family: 'Roboto Mono', monospace;
  position: fixed;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.title-wrap {
    opacity: .11;
    white-space: pre;
}
