.vocalizer {
  font-size: 2.5em
}

.vocalizer::after {
  margin: 4px -5px
}

.vocalizer:hover::after {
  background-color: rgba(0, 0, 0, .8) !important
}

.vocalizer:active::after {
  background-color: rgba(0, 0, 0, .8) !important
}
